html {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: Poppins;
  font-style: normal;
}

#root {
  padding-top: 3rem;
}

.question {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #2F527B;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  color: #F2F2F2;
  max-width: 464px;
  margin: auto;
  transform: translateX(-5%);
}

.btn {
  display: block;
  margin-block: 1rem;
  width: 100%;
  padding-block: 1rem;
  background: #FFFFFF;
  border: 2px solid rgba(96, 102, 208, 0.7);
  box-sizing: border-box;
  border-radius: 12px;
}

.btn:hover {
  background-color: #F9A826;
}

.correct,
.correct:hover {
  position: relative;
  background-color: #60BF88;
}

.correct::after,
.incorrect::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.correct::after {
  background-image: url('./assets/check-circle.svg');
}

.incorrect,
.incorrect:focus,
.incorrect:hover {
  position: relative;
  background-color: #EA8282;
}

.incorrect::after {
  background-image: url('./assets/x-circle.svg');
}

.flag {
  width: 84px;
  height: 54px;
  box-shadow: 1px 1px 1px 1px #cccccc;
}

.container {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 5px;
  max-width: 464px;
  margin: auto;
  position: relative;
  padding-bottom: 4rem;
}

.adventure {
  position: absolute;
  top: -20%;
  right: 0;
}

.tryagain {
  text-align: center;
  .results, p {
    color: #1D355D;
  }
  .results {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
  }
  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    span {
      font-size: 30px;
      color: seagreen;
    }
  }
}

.tryagain button,
.tryagain button:focus {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #1D355D;
  background-color: #FFFFFF;
  border-radius: 24px;
  padding-block: 1rem;
  padding-inline: 3.5rem;
}

.next {
  background: #F9A826;
  box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
  border-radius: 12px;
  padding-inline: 36px;
  padding-block: 15px;
  position: absolute;
  right: 1.5rem;
}

.tryagain button:hover,
.next:hover {
  background-color: #F9A826;
  cursor: pointer;
}

.tryagain button:focus,
.next:focus {
  outline : none;
}

.btn.answers {
  color: rgba(96, 102, 208, 0.7);
  transition: .3s;
}

.btn.answers:hover {
  color : #ffffff;
  transform: scale(1.02);
}